<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Customer Managment - @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/css/site.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>


    @RenderSection("Scripts", true)
</body>
</html>